DICTIONARIES

In [1]:
d = {"key1":"value","key2":1234,"name":"Paulo"}

In [2]:
d["key1"]

'value'

In [4]:
d = {"key_list":[5,1,3,7]}

d["key_list"][3]

7

In [5]:
d = {"key_d":{"inner_key":589,"other_key":500}}

d["key_d"]["inner_key"]+d["key_d"]["other_key"]

1089

TUPLES

In [6]:
t=(1,4,5)

In [7]:
t[1]

4

In [9]:
list_example = [1,4,5,7]
list_example

[1, 4, 5, 7]

In [10]:
list_example[2] = "new value"
list_example

[1, 4, 'new value', 7]

In [11]:
t[1] = "new" #tuple is immutable

TypeError: 'tuple' object does not support item assignment

SETS

In [12]:
set_example = {1,1,1,1,15,5,5,5,5,3,3,3,2,2,2,2}
set_example

{1, 2, 3, 5, 15}

In [13]:
my_list = [1,1,1,11,3,3,3,3,4,4,4,5,5,5,5,5,8,8,8,8]

my_set = set(my_list)
my_set

{1, 3, 4, 5, 8, 11}

In [16]:
my_set.add(20)

my_set

{1, 3, 4, 5, 8, 11, 20}

logical operators

In [17]:
(1<2) and (5>6)

False

In [18]:
(1<2) or (5>6)

True

CONDITIONALS

In [27]:
x = 42

if (x%7 == 0):
    print("numero par")
elif(x%7 == 1):
    print("resta 1")
else:
    print("entrou no else")

numero par