map function

In [1]:
def times2(var):
    return var*2

In [2]:
times2(5)

10

In [3]:
seq= [1,2,3,4,5,6,7]

In [4]:
newSeq = list(map(times2,seq))
newSeq

[2, 4, 6, 8, 10, 12, 14]

In [5]:
newSeq = list(map(lambda var:var*3,seq))
newSeq

[3, 6, 9, 12, 15, 18, 21]

In [6]:
list(filter(lambda num:num%2==0,newSeq))

[6, 12, 18]

In [11]:
name = "Hello my name is Paulo"

In [12]:
name.lower()

'hello my name is paulo'

In [13]:
name.upper()

'HELLO MY NAME IS PAULO'

In [14]:
name.split()

['Hello', 'my', 'name', 'is', 'Paulo']

In [15]:
csvExample = "Paulo,24,Brasil,Male"

In [16]:
csvExample.split(",")

['Paulo', '24', 'Brasil', 'Male']

In [17]:
d = {"key1":8,"key2":10,"key3":12}

In [18]:
d.values()

[12, 10, 8]

In [19]:
d.items()

[('key3', 12), ('key2', 10), ('key1', 8)]

In [20]:
d.keys()

['key3', 'key2', 'key1']

In [24]:
listTest = [1,2,3,4,5,6]

In [25]:
last = listTest.pop()

In [26]:
listTest

[1, 2, 3, 4, 5]

In [27]:
last

6

In [28]:
first = listTest.pop(0)

In [29]:
listTest

[2, 3, 4, 5]

In [30]:
first

1

In [33]:
"x" in [2,3,4,5,6,7,8]

False

In [34]:
"x" in ["x",',',2]

True

In [35]:
x = [(1,2),(3,4),(5,6)]

In [36]:
x

[(1, 2), (3, 4), (5, 6)]

In [37]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [38]:
for (a,b) in x:
    print(a)

1
3
5

In [39]:
for (a,b) in x:
    print(b)

2
4
6