In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {"A":[1,2,np.nan],"B":[5,np.nan,np.nan],"C":[8,9,10]}
df = pd.DataFrame(d)
df

     A    B   C
0  1.0  5.0   8
1  2.0  NaN   9
2  NaN  NaN  10

In [3]:
df.dropna()

     A    B  C
0  1.0  5.0  8

In [4]:
df.dropna(axis=1)

    C
0   8
1   9
2  10

In [5]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  8
1  2.0  NaN  9

In [6]:
df.fillna(value=0)

     A    B   C
0  1.0  5.0   8
1  2.0  0.0   9
2  0.0  0.0  10

In [7]:
df.fillna(value=df.mean())

     A    B   C
0  1.0  5.0   8
1  2.0  5.0   9
2  1.5  5.0  10